
.icon-chart-bar:before { content: '\e800'; } /* '' */
.icon-code:before { content: '\e801'; } /* '' */
.icon-help:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\f064'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-rouble:before { content: '\f158'; } /* '' */
.icon-file-video:before { content: '\f1c8'; } /* '' */
.icon-hand-peace-o:before { content: '\f25b'; } /* '' */
